HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# VSCode
/frontend/echotype/.vs/
/frontend/echotype/*.wsuo
/frontend/echotype/.vscode/
/frontend/echotype/.gitignore


# dependencies
/frontend/echotype/node_modules
/frontend/echotype/.pnp
/frontend/echotype/.pnp.js

# testing
/frontend/echotype/coverage

# production
/frontend/echotype/build

# misc
/frontend/echotype/.DS_Store
/frontend/echotype/.env.local
/frontend/echotype/.env.development.local
/frontend/echotype/.env.test.local
/frontend/echotype/.env.production.local

/frontend/echotype/npm-debug.log*
/frontend/echotype//yarn-debug.log*
/frontend/echotype/yarn-error.log*

# IntelliJ
/backend/echotype/.idea/
/backend/echotype/.gitignore
backend/echotype/src/main/resources/application.properties
/*.iml
